// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4d9e45;

// ----------------------------------------------------------------------------
// time_since_last styles
// ----------------------------------------------------------------------------
.widget-time-since-last {

  background-color: $background-color;

  h2 {
    font-size: 1.5em;
  }

}
