<script type='text/javascript'>

    $(function() {
        var factor = 1;
// These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
//        Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
        Dashing.widget_base_dimensions = [224 / factor, 255 / factor];
        Dashing.numColumns = 8 * factor;
    });

    // Find the right method, call on correct element
    function launchIntoFullscreen(element) {
        if (element.requestFullscreen) {
            element.requestFullscreen();
        } else if (element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
        } else if (element.webkitRequestFullscreen) {
            element.webkitRequestFullscreen();
        } else if (element.msRequestFullscreen) {
            element.msRequestFullscreen();
        }
    }

    $(function() {
      Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":6,"row":1,"size_x":1,"size_y":1},{"col":7,"row":1,"size_x":1,"size_y":1},{"col":7,"row":3,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1},{"col":6,"row":2,"size_x":1,"size_y":1},{"col":7,"row":2,"size_x":1,"size_y":1},{"col":5,"row":4,"size_x":1,"size_y":1},{"col":1,"row":4,"size_x":1,"size_y":1},{"col":2,"row":4,"size_x":1,"size_y":1},{"col":3,"row":4,"size_x":1,"size_y":1},{"col":4,"row":4,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":1,"size_y":1},{"col":6,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1}]')
    });

</script>

<% content_for :title do %>ABA English - IT dashboard<% end %>
<div class="gridster dashboard-widgets">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png" style="background-color:black;" ondblclick="launchIntoFullscreen(document.documentElement);"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users_campus" data-view="Graph" data-title="campus" data-moreinfo="active users" data-url="https://analytics.google.com/analytics/web/?hl=es&pli=1#realtime/rt-overview/a1201726w2092565p70039636/"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users_android" data-view="Graph" data-title="android" data-moreinfo="active users" data-url="https://analytics.google.com/analytics/web/#realtime/rt-app-overview/a77923155w116903432p122263844/"></div>
      <i class="icon-android icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users_ios" data-view="Graph" data-title="ios" data-moreinfo="active users" data-url="https://analytics.google.com/analytics/web/#realtime/rt-app-overview/a77923155w116880578p122242394/"></div>
      <i class="icon-apple icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users_www" data-view="Graph" data-title="www" data-moreinfo="active users" data-url="https://analytics.google.com/analytics/web/?hl=es&pli=1#realtime/rt-overview/a1201726w2092565p70030949/" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users_blog" data-view="Graph" data-title="blog" data-moreinfo="active users" data-url="https://analytics.google.com/analytics/web/#realtime/rt-overview/a84563426w126544137p130164649/" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users_landings" data-view="Graph" data-title="landings" data-moreinfo="active users" data-url="https://analytics.google.com/analytics/web/#realtime/rt-overview/a1201726w2092565p133518042/" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="leads" data-view="Number" data-title="leads" data-moreinfo="new users today" data-url="http://redash.analytics.aba.solutions/embed/query/229/visualization/336?api_key=XmrPGJ6JSpvq87cKwGmLJkr8wTR80u17PIltMQhP"></div>
      <i class="icon-signin icon-background"></i>
      <!--
                data-suffix="&#xf015;"></div>
      -->
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="revenue" data-view="Number" data-title="Revenue" data-moreinfo="Revenue" data-url="http://redash.analytics.aba.solutions/embed/query/246/visualization/354?api_key=DmxaHnseVxxv8ocE5L2oReGUf9MPWNI8EZA6cX7l"></div>
      <i class="icon-eur icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="refunds" data-view="Number" data-title="Refunds" data-moreinfo="Refunds" data-url="http://redash.analytics.aba.solutions/embed/query/243/visualization/351?api_key=3iXOyzMiGLtbfWFSSfaRvDl25hfPCdBt9c9dUae8"></div>
      <i class="icon-eur icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="first_sales" data-view="Number" data-title="First sales" data-moreinfo="First sales" data-url="http://redash.analytics.aba.solutions/embed/query/244/visualization/352?api_key=2p1XeHrcukI7virlf7CzJbRe9ngTgNZj8wI364Y6" ></div>
      <i class="icon-eur icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="android_rate" data-view="Number" data-title="Android Rate" data-moreinfo="Android Rate" data-url="http://redash.analytics.aba.solutions/embed/query/248/visualization/356?api_key=PmPUQkzEm9qo5gREwjYMkKWI2Hphq5uSAty3wSZ8"></div>
      <i class="icon-star icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ios_rate" data-view="Number" data-title="iOS Rate" data-moreinfo="iOS Rate" data-url="http://redash.analytics.aba.solutions/embed/query/247/visualization/355?api_key=yXWDTzjsRyI9rnjrwYSj4Z6qsYOkqhrMha1PzKzg"></div>
      <i class="icon-star icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="next_sales" data-view="Number" data-title="Next Sales" data-moreinfo="Next Sales" data-url="http://redash.analytics.aba.solutions/embed/query/245/visualization/353?api_key=dDHukgAiiARledWAFEvSJZJsdX9HRkQNh6yEwREs"></div>
      <i class="icon-eur icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-color="black" data-id="" data-view="Graph" data-title="" data-moreinfo="" data-url="" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dbcampus" data-view="Meter" data-title="dbcampus" data-min="0" data-max="100" data-url="https://eu-west-1.console.aws.amazon.com/rds/home?region=eu-west-1#dbinstance:id=rds-dbcampus-2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dbcampus2" data-view="Meter" data-title="dbcampus2" data-min="0" data-max="100" data-url="https://eu-west-1.console.aws.amazon.com/rds/home?region=eu-west-1#dbinstance:id=rds-dbcampus-1"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dbservices" data-view="Meter" data-title="dbservices" data-min="0" data-max="100" data-url="https://eu-west-1.console.aws.amazon.com/rds/home?region=eu-west-1#dbinstance:id=db-services-pro"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dbservices2" data-view="Meter" data-title="dbservices2" data-min="0" data-max="100" data-url="https://eu-west-1.console.aws.amazon.com/rds/home?region=eu-west-1#dbinstance:id=db-services-pro-slave1"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ec2instances" data-view="Number" data-title="AWS Hosts" data-moreinfo="running EC2 instances" data-url="" ></div>
      <i class="icon-cloud icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="high_cpu" data-view="Number" data-title="Instances with high CPU" data-moreinfo="instances with CPU>20%" data-url="" ></div>
      <i class="icon-bullhorn icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synthetics" data-view="Number" data-title="NewRelic Synthetics" data-moreinfo="monitors" data-url="https://synthetics.newrelic.com/accounts/1268965/monitors"></div>
      <i class="icon-cog icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="incidents" data-view="Number" data-title="NewRelic Alerts" data-moreinfo="open incidents" data-url="https://alerts.newrelic.com/accounts/1268965/incidents/open/page/0" ></div>
      <i class="icon-bullhorn icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="numberpodsproduction" data-view="Number" data-title="Pods" data-moreinfo="Pods in production" data-url="https://rpm.newrelic.com/accounts/1268965/applications/19471376" ></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="time_since_last" data-view="Number" data-title="Days since last alert"></div>
    </li>

  </ul>
